body {
  background-color: black;
}

.wrapper{
  color: white; 
}

h1 {
  padding: 1%;
  text-align: center;
}

h2 {
  background-color: rgb(51, 48, 48);
}

#question {
  font-family: arial;
  font-weight: 100;
  font-size: 0.9em;
  padding: 0.6%;
  padding-top: 0.7%;
  text-align: left;
  margin: 0.25% 36%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

#plus {
  font-size: 1.2em;
  padding: 0;
  margin: 0;


}

#freeTrial {
  background-color: red;
  color: white;
  font-family: arial;
  font-weight: 100;
  font-size: 0.9em;
  padding: 0.6%;
  text-align: center;
  margin: 2.5% 45%;
}